<div>
  <h4 class="mb-4 text-muted">Dashboard </h4>

  <div class="row">

    <div class="col-md-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-users bg-success" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-title text-right text-muted">Users</p>
              <h4 class="card-text text-right ">{{statistics.userCount}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-building bg-info" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-title text-right text-muted">Teams</p>
              <h4 class="card-text text-right ">{{statistics.teamCount}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-arrows-alt bg-danger" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-title text-right text-muted">Game Types</p>
              <h4 class="card-text text-right ">{{statistics.gameTypeCount}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-heartbeat bg-warning" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-title text-right text-muted">Leagues</p>
              <h4 class="card-text text-right ">{{statistics.leagueCount}}</h4>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="row">
    <div class="col-md-12 col-lg-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-title">
            <h5>League Per Month</h5>
          </div>
          <div class="chart-container" style="position: relative;">
            <canvas id="league-per-month" width="2" height="1">{{ chartLine }}</canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-title">
            <h5>League By League Types</h5>
          </div>
          <div class="chart-container" style="position: relative;">
            <canvas id="league-by-league-type-total" width="2" height="1">{{ chartBar }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>